<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
    <link rel=stylesheet href=https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css integrity=sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO crossorigin=anonymous>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>
<style>
    *{
        font-size:15px;
    }
    th, td{
        padding-right: 100px;
    }
</style>
<body>
    
    <h1>Admin page</h1>
    {% if messages %}
    {% for message in messages %}
    <li class="text-danger mb-1">{{message}}</li>
    {% endfor %}
    {% endif %}
    <a href="/dashboard">To dashboard</a>
    <button class="btn btn-dark ml-2">Show Users</button>
    <div>
    {% include 'doops/admin_userlist.html' %}
    </div>

    <div class="mt-5">
    {% include 'doops/admin_reportlist.html' %}
    </div>
</body>
</html>