
{% extends 'doops/dashboard.html' %}
{% block content-header %}
<div class="text-left">

    <span class="text-lightgreen mr-2 small text-left">
        <strong>Canvas#{{node.id}} - 
            {% if 'mode' in request.GET %}
            {{request.GET.mode}} 
            {% else %}
            self
            {% endif %}
        </strong>
    </span>
    <span class="font-weight-bold small">
    </span>
    <div class="row col-12 small pt-1 px-0 mx-0">
    Created at: {{node.created_at.date}}
    </div>
</div>
{% endblock %}