
{% extends 'doops/dashboard.html' %}
{% block browse-form %}
    <input type="hidden" 
    name="mode" 
    value="{% if 'mode' in request.GET %}{{request.GET.mode}}{% else %}self{% endif %}">
    <input type="hidden" 
    name="sort" 
    value="{% if 'sort' in request.GET %}{{request.GET.sort}}{% else %}new{% endif %}">
{% endblock %}

{% block content-header %}
    <p class="text-lightgreen end-section">
        <strong>Node#{{node.id}} </strong>
    </p>
    <div class="font-weight-bold end-section">
            <a value="ancestors" 
                class="mode-setter
                    {% if 'mode' in request.GET and request.GET.mode == 'ancestors' %}
                    text-lightgreen {% else %} text-default 
                    {% endif %} "
                href="{% url 'doops:canvas-by-id' node.id  %}">
                {{ node.get_ancestors.count }} ancestor{{ node.get_ancestors.count|pluralize }}
            </a><br>
            <a value="parent" 
                class="mode-setter
                    {% if 'mode' in request.GET and request.GET.mode == 'parent' %}
                    text-lightgreen {% else %} text-default 
                    {% endif %} " 
                href="{% url 'doops:canvas-by-id' node.id  %}">{% if node.parent %}1{% else %}0{% endif %} parent</a><br>
            <a value="siblings"
                class="mode-setter
                    {% if 'mode' in request.GET and request.GET.mode == 'siblings' %}
                    text-lightgreen {% else %} text-default 
                    {% endif %} "  
            href="{% url 'doops:canvas-by-id' node.id  %}">
            {{node.get_siblings.count}} sibling{{ node.get_siblings.count|pluralize }} 
            </a><br>
            <a value="children"
                class="mode-setter
                    {% if 'mode' in request.GET and request.GET.mode == 'children' %}
                    text-lightgreen {% else %} text-default 
                    {% endif %} " 
            href="{% url 'doops:canvas-by-id' node.id  %}">
            {{node.children.all.count}} child{{node.children.all.count|pluralize:'ren'}}
        </a><br>
            <a value="descendants"
                class="mode-setter
                    {% if 'mode' in request.GET and request.GET.mode == 'descendants' %}
                    text-lightgreen {% else %} text-default 
                    {% endif %} " 
            href="{% url 'doops:canvas-by-id' node.id  %}">
            {{node.get_descendants.count}} descendant{{node.get_descendants.count|pluralize}}
        </a><br>
    </div>


<div class="text-default end-section">
    <a href="{% url 'doops:canvas-by-id' node.id %}" value="new"
        class="sort-setter link mr-1
        {% if 'sort' not in request.GET or request.GET.sort == 'new' %}
        text-lightgreen {% else %} text-default
        {% endif %}">newest</a><br> 
    <a href="{% url 'doops:canvas-by-id' node.id %}" value="old"
        class="sort-setter link mr-1
        {% if 'sort' in request.GET and request.GET.sort == 'old' %}
        text-lightgreen {% else %} text-default
        {% endif %}">oldest</a><br>
    <a href="{% url 'doops:canvas-by-id' node.id %}" value="popular"
        class="sort-setter link mr-1
        {% if 'sort' in request.GET and request.GET.sort == 'popular' %}
        text-lightgreen {% else %} text-default
        {% endif %}">most popular</a>
    </div>
    <a class="text-lightgreen link"
    href="{% url 'doops:new-canvas' %}">Draw!
    </a>
{% endblock %}