<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel=stylesheet href=https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css integrity=sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO crossorigin=anonymous>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    {% load static %}
    <link rel="stylesheet" media="screen" href="{% static "doops/css/dashboard.css" %}" />
    <script src="{% static "doops/js/dashboard.js" %}"></script>
    <script src="{% static "doops/js/topnav.js" %}"></script>
</head>
<body class="pt-1">
    <div id="preview-box" class="bg-dark-green border border-light p-1">
        <img src="/media/canvas25.png" alt="" />
    </div>
    <form id="browse-settings" action="" method="get">
        <input type="hidden" name="mode" value="watch">
        <input type="hidden" name="sort" value="new">
    </form>
    {% include 'doops/navbar.html' %}
    <!-- end nav -->
    {{request.GET}}

    <div id="maincontainer" class="row p-0 mx-0 mt-2">
        <div id="dashboard_window" class="mr-auto bg-transparent px-0 border-0 mt-1">
            <div id="header-box" class="sticky" style="position: sticky; top: 40px; z-index:4;">
                <div class="pl-3 py-2 d-flex mx-1 my-0 text-neutral">
                        {% block content-header %}
                        <div>
                        Browsing<span class="text-lightgreen"> all</span> nodes
                        </div>
                        {% endblock %}

                    <span class="ml-auto font-weight-bold small text-right">
                        <a class="mx-1 {% if browse_settings.sort == '/new' %}text-lightgreen selected{% else %}text-neutral{% endif %}" 
                        href="/dashboard/new{{browse_settings.mode}}{{browse_settings.id}}">Newest </a>|
                        <a class="mx-1 {% if browse_settings.sort == '/popular' %}text-lightgreen selected{% else %}text-neutral{% endif %}" 
                        href="/dashboard/popular{{browse_settings.mode}}{{browse_settings.id}}">Most popular </a>
                    </span>
                </div>
            </div>


            <ul id="canvas-list" class="list-group px-2">
                {% block content %}
                {% include "doops/canvas_list.html" %}
                {% endblock %}
            </ul>
        </div>
        <!-- end dashboard window -->

    </div>
</body>
</html>