<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel=stylesheet href=https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css integrity=sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO crossorigin=anonymous>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    {% load static %}
    <link rel="stylesheet" media="screen" href="{% static "doops/css/index.css" %}" />
    <link rel="stylesheet" media="screen" href="{% static "doops/css/dashboard.css" %}" />
    <link rel="stylesheet" media="screen" href="{% static "doops/css/color.css" %}" />
    <script src="{% static "doops/js/index.js" %}"></script>
</head>
<body class="pt-1">
    <div class="row mx-2 mt-5">
        <div id="input-window" class="container col-11 col-sm-4 mx-4 mt-5 bg-transparent border-0 card pt-5 pb-0 px-0">
            <ul class="nav nav-tabs">
                <li class=" mr-3 ">
                    <!-- If there are no errors, text green
                        If there are errors, check if they are login errors. If so, text green, else, text neutral
                     -->
                    <a class="link font-weight-bold 
                    {% if messages %}
                        {% for message in messages %}
                            {% if message.extra_tags == 'login' %} text-lightgreen {% else %} text-neutral {% endif %}
                        {% endfor %}
                    {% else %}
                        text-lightgreen
                    {% endif %}"
                    href="#login">Login</a>
                </li>
                <li class=" ">
                    <a class="link font-weight-bold
                    {% if messages %}
                        {% for message in messages %}
                            {% if message.extra_tags == 'login' %} text-neutral {% else %} text-lightgreen {% endif %}
                        {% endfor %}
                    {% else %}
                        text-neutral
                    {% endif %}" 
                    href="#registration">Registration</a>
                </li>
            </ul>
            <!-- end nav tabs -->
            <div class="tab-content px-2 rounded-bottom">
                <!-- If there are errors, check if it is registration error. If true, hide -->
                <div class="pane text-neutral
                {% if messages %}
                {% for message in messages %}
                {% if message.extra_tags != 'login' %} d-none {% endif %}
                {% endfor %}
                {% endif %} " id="login">
                    <form action="{% url 'doops:login-user' %}" method='post' class = "text-left small font-weight-bold form-signin mt-3 col-10">
                        {% csrf_token %}
                        {% if messages %}
                        {% for message in messages %}
                        <li{% if message.extra_tags == 'login' %} class="text-danger small" >{{ message }}{% endif %}</li>
                        {% endfor %}
                        {% endif %}
                        <label for="username" class="" >Username:</label>
                        <input type="text" name="username" class="form-control form-control-sm" placeholder="username">
                        <label for="password" class="mt-1">Password:</label>
                        <input type="password" name="password" class="form-control form-control-sm" placeholder="Password">
                        <input class="btn btn-link font-weight-bold d-block text-neutral py-0 mt-1 mx-auto bg-transparent" type="submit" value="Sign In">
                        <p class="text-center"> -or-</p>
                        <p class="text-center">
                            <a class="border-0 font-weight-bold text-neutral my-2 bg-transparent" href="/dashboard">Play as Guest</a>
                        </p> 
                    </form>
                   
                </div>
                <!-- end login tab -->
                <!-- if there are no errors, hide 
                If there are errors, check if they are login error. If so, hide-->
                <div class="pane text-neutral
                {% if messages %}
                {% for message in messages %}
                {% if message.extra_tags == 'login' %} d-none {% endif %}
                {% endfor %}
                {% else %}
                d-none
                {% endif %}" id="registration"  aria-labelledby="profile-tab">
                    <form action="{% url 'doops:register-user' %}" method='post' class = "text-left small form-signin mt-3 ml-2 col-10 font-weight-bold">
                        {% csrf_token %}
                        {% if messages %}
                        {% for message in messages %}
                        <li{% if message.extra_tags == 'username' %} class="text-danger small" >{{ message }}{% endif %}</li>
                        {% endfor %}
                        {% endif %}               
                        <div class="form-group">
                        <label for="username">Username:</label>
                        <input type="text" class="form-control form-control-sm" name="username">
                        </div>
                        {% if messages %}
                        {% for message in messages %}
                        <li{% if message.extra_tags == 'password' %} class="text-danger small" >{{ message }}{% endif %}</li>
                        {% endfor %}
                        {% endif %}
                        <div class="form-group mb-1">
                        <label for="password">Password</label>
                        <input type="password" name="password" class="form-control form-control-sm">
                        </div>
                        <div class="form-group">
                        <label for="confirm">Password Confirmation</label>
                        <input type="password" name="confirm" class="form-control form-control-sm" >
                        </div>
                        <input class="btn btn-link font-weight-bold d-block text-neutral mt-1 mx-auto bg-transparent" type="submit" value="Register">
                    </form>
                </div>
                <!-- end registration tab -->
            </div>
        <!-- end tab content -->
        </div>
        <!-- end left container -->
    </div>
    <div id="img-window" class=" p-0 my-0  border-0">
        <img class="d-none d-sm-flex ml-auto" id="start_img" src="{% static "doops/imgs/main_art.png" %}" alt=""> 
    </div>
</body>
</html>