
{% extends 'doops/dashboard.html' %}
    <!-- end nav -->
    {% load static %}
    {% block static %}
    <link rel="stylesheet" media="screen" href="{% static "doops/css/dashboard.css" %}" />
    <link rel="stylesheet" media="screen" href="{% static "doops/css/color.css" %}" />
    <script src="{% static "doops/js/settings.js" %}"></script>
    <script src="{% static "doops/js/topnav.js" %}"></script>
    {% endblock %}

    {% block content-header %}
    <p class="text-lightgreen end-section">
            <strong>Settings </strong>
        </p>
        <div class="end-section">
            
            <a value="root" 
            class="text-default"
            href="#">Account</a><br>
            <a value="root" 
            class="text-default"
            href="#">Timeline</a>
        </div>
        <a class="text-default"
            href="#">To Dashboard</a><br>

        
    {% endblock %}
            {% block content %}
          
            <div class="bg-transparent p-1 mx-2 rounded text-neutral row">
                <p id="form-choice" class="col-12 small ml-auto mt-1 text-right">
                    <a class=" selected" href="#update_info">Update info</a> | 
                    <a class="text-default" href="#change_pw">Change password</a> |
                    <a class="text-default" href="#delete">Delete account</a>
                </p>
                <form id="update_info" action="/update_process" method='post' class = "col-9 text-left small form-signin mt-3 ml-2">
                    {% csrf_token %}
                    {% if messages %}
                    {% for message in messages %}
                    <li class="text-danger mb-1">{{message}}</li>
                    {% endfor %}
                    {% endif %}
                    <div class="form-group">
                    <label for="first_name">Username:</label>
                    <input type="text" class="form-control" name="username" value="{{self.username}}">
                    </div>
                    
                    <input class="font-weight-bold bg-neutral text-neutral form-control my-2" type="submit" value="update">
                </form>

                <form id="change_pw" action="/update_process" method='post' class = "col-9 text-left small form-signin mt-3 ml-2">
                    {% csrf_token %}
                    {% if messages %}
                    {% for message in messages %}
                    <li class="text-danger mb-1">{{message}}</li>
                    {% endfor %}
                    {% endif %}
                    <div class="form-group">
                    <label for="old_password" >Old password:</label>
                    <input type="password" name="old_password" class="form-control" >
                    </div>
                    <div class="form-group">
                    <label for="password" >New password:</label>
                    <input type="password" name="password" class="form-control" >
                    </div>
                    <div class="form-group">
                    <label for="password">Confirm new password:</label>
                    <input type="password" name="confirm" class="form-control" >
                    </div>
                    
                    <input class="font-weight-bold bg-neutral text-neutral form-control my-2" type="submit" value="update password">
                </form>

                <form id="delete" action="register_process" method='post' class = "col-9 text-left small form-signin mt-3 ml-2">
                    {% csrf_token %}
                    {% if messages %}
                    {% for message in messages %}
                    <li class="text-danger mb-1">{{message}}</li>
                    {% endfor %}
                    {% endif %}
                    <div class="form-group">
                    <label for="email" >Type in password to delete:</label>
                    <input type="email" name="email" class="form-control" >
                    </div>
                    
                    <input class="font-weight-bold bg-neutral text-neutral form-control my-2" type="submit" value="Delete account">
                </form>
            </div>
            {% endblock %}
        <!-- end dashboard window -->
        
