*{
    font-style: serif;
}

#dashboard_window{
    min-height: -webkit-calc(100vh - 20px);
    min-height: -moz-calc(100vh - 20px);
    min-height: calc(100vh - 20px);
    text-align: center;
    font-style: serif;
    width: 580px;
}
#maincontainer{
    min-width: 660px;
}
#header-box{
    background-color: rgba(64, 71, 63, 1)
}

#notifications{
    position: absolute; top:0px; left:0px;
    z-index: 5;
    width: 350px;
}

#preview-box{
    position: absolute; top:0px; left:0px;
    z-index: 6;
    width: 150px;
    min-height:100px;
}
#preview-box img{
    width:100%;
    height:auto;
}


body{    background-color: rgb(48, 48, 38);
}

img{
    width: 95%;
    height:auto;
}



.selected{
    border: 2px solid rgb(177, 201, 71);
    color: rgb(177, 201, 71);    
    border-radius: 5px;
    padding-left:5px;
    padding-right:5px;
}

a:hover{
    color: rgb(201, 241, 19);
    text-decoration: none;
    font-weight: bold;
}
.link:hover{
    color: rgb(201, 241, 19);  
    font-weight:bold;
    cursor: pointer;
}

li{
    transition:0.3s;
}

#dashboard_window li:hover{
    background-color: rgb(80, 78, 69)
}



.notification-close:hover{
    background-color: rgb(80, 78, 69);
}
.notification-go:hover{
    background-color: rgb(80, 78, 69);
}
.notification-go{
    border-right: 1px solid rgb(70, 69, 60)
}

.watch-button, .notification-button{

    cursor: ointer;
}
#header-box{
    height:60px;
    box-shadow: 0 3px 3px rgba(48, 48, 38,.5);
}

#maincontainer ul{
    position: sticky; top: 40px;;
}

#vertical_nav{
    width:80px;
}
#vertical_nav li:hover{
    background-color: rgb(62, 66, 60);
    color: rgb(201, 241, 19);
    font-weight: bold;
}
#vertical_nav li{
    transition: 0.2s
}


.top-nav {
    height:43px;
    background-color: rgb(48, 48, 38)
    
}


.text-warm-dark{color: rgb(65, 60, 46)}
.bg-dark-green{background-color: rgb(48, 48, 38)}
.text-darkgreen{color: rgb(114, 133, 69)}
.text-neutral{color:rgb(198, 192, 201) }
.bg-grey{background-color: rgb(220, 224, 215);}

.text-lightgreen{color: rgb(160, 187, 38);}
.text-disabled{color:rgb(208, 204, 209)}
.bg-neutral{background-color: rgb(95, 93, 83)}
.bg-disabled{background-color: rgb(77, 85, 75)}
.bg-darkgreen{background-color: rgb(95, 117, 94)}

