*{
    font-style: serif;
}

#dashboard_window{
    min-height: -webkit-calc(100vh - 20px);
    min-height: -moz-calc(100vh - 20px);
    min-height: calc(100vh - 20px);
    text-align: center;
    font-style: serif ;
    width:100%;
    vertical-align: top;
 
}

#dashboard_window li{
    max-width: 650px;
    vertical-align: -webkit-baseline-middle;
}
#maincontainer{
    width:calc(90% - 100px);
}

#dashboard_window .dashboard-column{
    margin-right: 10px;
    display: inline-block;
    vertical-align: top;
}



#preview-box{
    position: absolute; top:0px; left:0px;
    z-index: 6;
    width: 11%;
    min-height:10px;
}
#preview-box img{
    width:100%;
    height:auto;
}

#side-nav{
    position: -webkit-sticky;
    position: sticky;
    min-width: 100px;
    /* max-width: 200px; */
    width: 10%;
}

body{    background-color: rgb(41, 25, 24);
}

img{
    width: 95%;
    height:auto;
    transition:0.2s;
    cursor: pointer;
}
img:hover{
    width: 96%;
    height:auto;
}


.selected{
    border: 2px solid rgb(149, 209, 71);
    color:rgb(149, 209, 71);    
    border-radius: 5px;
    padding-left:5px;
    padding-right:5px;
}

a:hover{
    color: rgb(149, 209, 71);
    text-decoration: none;
    font-weight: bold;
}
.link:hover{
    color:rgb(149, 209, 71);  
    font-weight:bold;
    cursor: pointer;
}

li{
    transition:0.3s;
}

#dashboard_window li:hover{
    background-color: rgb(46, 49, 48)}

    


.watch-button{

    cursor: pointer;
}
.end-section{
    border-bottom: 2px solid rgb(98, 214, 78);
}
p{
    margin-bottom: 0px;
}

#maincontainer ul{
    position: sticky;
    top: 40px;

}




@media screen and (max-width: 699px) {
    .top-nav{
        font-size: 10px;
    }
    #dashboard_window, #side-nav{
        font-size: 10px;
    }
}
