*{
    font-style: serif;
}

#dashboard_window{
    min-height: -webkit-calc(100vh - 20px);
    min-height: -moz-calc(100vh - 20px);
    min-height: calc(100vh - 20px);
    text-align: center;
    font-style: serif ;
    max-width: 600px;
    vertical-align: top;
 
}
#maincontainer{
    width:calc(93% - 100px);
}


#notifications{
    position: absolute; top:0px; left:0px;
    z-index: 5;
    width: 350px;
}

#preview-box{
    position: absolute; top:0px; left:0px;
    z-index: 6;
    width: 150px;
    min-height:100px;
}
#preview-box img{
    width:100%;
    height:auto;
}

#side-nav{
    position: -webkit-sticky;
    position: sticky;
    min-width: 100px;
    width: 15%;
}

body{    background-color: rgb(41, 25, 24);
}

img{
    width: 95%;
    height:auto;
}



.selected{
    border: 2px solid rgb(149, 209, 71);
    color:rgb(149, 209, 71);    
    border-radius: 5px;
    padding-left:5px;
    padding-right:5px;
}

a:hover{
    color: rgb(149, 209, 71);
    text-decoration: none;
    font-weight: bold;
}
.link:hover{
    color:rgb(149, 209, 71);  
    font-weight:bold;
    cursor: pointer;
}

li{
    transition:0.3s;
}

#dashboard_window li:hover{
    background-color: rgb(53, 82, 72)}

    

.notification-close:hover{
    background-color: rgb(80, 78, 69);
}
.notification-go:hover{
    background-color: rgb(80, 78, 69);
}
.notification-go{
    border-right: 1px solid rgb(70, 69, 60)
}

.watch-button, .notification-button{

    cursor: pointer;
}
.end-section{
    border-bottom: 2px solid rgb(98, 214, 78);
}
p{
    margin-bottom: 0px;
}

#maincontainer ul{
    position: sticky;
    top: 40px;

}

#vertical_nav{
    width:80px;
}
#vertical_nav li:hover{
    background-color: rgb(62, 66, 60);
    color: rgb(201, 241, 19);
    font-weight: bold;
}
#vertical_nav li{
    transition: 0.2s
}


.top-nav {
    min-height:43px;
    background-color: rgb(41, 25, 24);
    
}



@media screen and (max-width: 699px) {
    .top-nav{
        font-size: 10px;
    }
    #dashboard_window, #side-nav{
        font-size: 10px;
    }
}
